.detail__container {
  width: 100%;
  min-height: 900px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  position: relative;
}
.detail__content {
  padding-bottom: 50px;
}
.detail__button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-20%, -50%);
}
