.detail__container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
  padding: 10px 25px;
  position: relative;
}
.detail__content {
  padding-bottom: 50px;
  padding-left: 10px;
}
.detail__button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-20%, -50%);
}
