@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.ads3__banner {
  width: 100%;
  margin: 40px 0;
}

.ads3__wrapper {
  max-width: 728px;
  min-height: 90px;
  margin: 0 auto;
  background-image: url("http://adnanahmad.digital/img/housunrise.jpg");
  /* background-position: 50% 46%; */
  position: relative;
  border: 1px solid #eee;
  background-color: aqua;
}

.ads3__title {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;

  font-weight: bold;
  top: 17px;
  font-size: 42px;
  left: 5px;
}

.ads3__desc {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;

  top: 60px;
}

.ads3__author {
  font-family: "Amatic SC", cursive;
  position: absolute;
  left: 650px;
  top: 57px;
  color: #ffffff;
  font-size: 14px;
}
