@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.ads2__banner {
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 5px;
  transform: translate(0, -50%);
}

.ads2__wrapper {
  width: 160px;
  height: 600px;
  margin: 0 auto;
  background-image: url("http://adnanahmad.digital/img/housunrise.jpg");
  background-position: 50% 46%;
  background-size: 800px;
  position: relative;
}

.ads2__title {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;

  font-weight: bold;
  top: 17px;
  font-size: 42px;
  left: 5px;
}

.ads2__desc {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;

  top: 60px;
}

.ads2__author {
  font-family: "Amatic SC", cursive;
  position: absolute;
  left: 650px;
  top: 57px;
  color: #ffffff;
  font-size: 14px;
}

.ads2__close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.ads2__hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1023px) {
  .ads2__banner {
    opacity: 0;
    visibility: hidden;
  }
}
