@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.bottom__banner {
  width: 100%;
  border-radius: 5px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom__wrapper {
  width: 728px;
  height: 90px;
  margin: 0 auto;
  background-size: 800px;
  position: relative;
}

.bottom__title {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;
  font-weight: bold;
  top: 17px;
  font-size: 42px;
  left: 5px;
}

.bottom__desc {
  font-family: "Amatic SC", cursive;
  position: absolute;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  left: 6px;
  top: 60px;
}

.bottom__author {
  font-family: "Amatic SC", cursive;
  position: absolute;
  left: 650px;
  top: 57px;
  color: #ffffff;
  font-size: 14px;
}

.bottom__close {
  position: absolute;
  right: 2px;
  top: 2px;
}

.bottom__hidden {
  display: none;
}
