.profile__container {
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
}
.profile__form {
  max-width: 450px;
  margin: 0 0 0 55px;
  padding: 10px 0 30px 0;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 767px) {
  .profile__form {
    margin: 0;
  }
}
